body {
    background-color: #797777;
    color: #000000;
    font-family: "Century Gothic", helvetica, arial, sans-serif;
    font-size: 1.4em;
    line-height: 1.5;
}

#game {
    width: 100%;
    height: 100%;
}
